@model EmplSchoolMange.Models.EmployeeVM
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Employee</h2>

<form asp-controller="Employee" asp-action="Delete" method="post" class="form-group">

    <label asp-for="Name">Employee Name</label>
    <input type="text" asp-for="Name" disabled class="form-control" />
    <br />

    <label asp-for="Salary">Employee Salary</label>
    <input type="text" asp-for="Salary" disabled class="form-control" />
    <br />

    <label asp-for="Address">Employee Address</label>
    <input type="text" asp-for="Address" disabled class="form-control" />
    <br />

    <label asp-for="Email">Employee Email</label>
    <input type="text" asp-for="Email" disabled class="form-control" />
    <br />


    <label asp-for="HirDate">Hire Date</label>
    <input type="date" asp-for="HirDate" disabled class="form-control" />
    <br />

    <label asp-for="Notes">Notes</label>
    <textarea asp-for="Notes" disabled class="form-control" rows="4"></textarea>
    <br />

    <label asp-for="DepartmentId">Department</label>
    <select asp-for="DepartmentId" disabled asp-items="@(SelectList)ViewBag.DepartmentList">
        <option>Choose Department</option>
    </select>
    <br />

    <div class="custom-control custom-checkbox">
        <input type="checkbox" asp-for="IsActive" class="custom-control-input">
        <label class="custom-control-label" asp-for="IsActive">Is Active</label>
    </div>
    <span class="text-danger" asp-validation-for="IsActive"></span>
    <br />

    <center>
        <input type="submit" value="Delete" class="btn btn-primary" />
    </center>
</form>
<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
