@model EmplSchoolMange.Models.DepartmentVM
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Department</h2>


<form asp-controller="Department" asp-action="Edit" method="post" class="form-group">

    <label asp-for="DepartmentName">Department Name</label>
    <input type="text" asp-for="DepartmentName" class="form-control" />
    <span class="text-danger" asp-validation-for="DepartmentName"></span>
    <br />

    <label asp-for="DepartmentCode">Department Code</label>
    <input type="text" asp-for="DepartmentCode" class="form-control" />
    <span class="text-danger" asp-validation-for="DepartmentCode"></span>

    <br />

    <center>
        <input type="submit" value="Edit" class="btn btn-primary" />
    </center>

</form>
<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>